
<form>
    <head>
        <title>Listado de Autores</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    </head>
    <body>
        <h2>Listado de Autores</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Autores in Model)
                {
                    <tr>
                        <td>@Autores.id</td> 
                        <td>@Autores.autor</td> 

                        <td>
                            <a asp-controller="Libros" asp-action="Index" asp-route-id="@Autores.id">Seleccionar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</form>